/* Define CSS variables for colors and other styles */
:root {
    --header-background-color: #333; /* Dark background color for header */
    --footer-background-color: #333; /* Dark background color for footer */
    --button-background-color: #f44749; /* Bright color for buttons */
    --button-text-color: #fff; /* Text color for buttons */
    --font-family: Arial, sans-serif; /* Consistent font family */
    --font-size-heading: 24px; /* Larger font size for headings */
    --font-size-text: 16px; /* Font size for body text */
    --line-height: 1.5; /* Line height for text */
    --white-space: 20px; /* White space between elements */
    --transition-duration: 0.3s; /* Transition duration for animations */
  }
  
  /* Reset some default styles */
  body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* Apply styles to the header */
  header {
    background-color: var(--header-background-color);
    color: var(--button-text-color);
    font-family: var(--font-family);
    text-align: center;
    padding: var(--white-space);
  }
  
  header h1 {
    font-size: var(--font-size-heading);
    margin-bottom: var(--white-space);
  }
  
  /* Apply styles to the footer */
  footer {
    background-color: var(--footer-background-color);
    color: var(--button-text-color);
    font-family: var(--font-family);
    text-align: center;
    padding: var(--white-space);
  }
  
  /* Apply styles to buttons */
  button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size-text);
    cursor: pointer;
    transition: background-color var(--transition-duration);
  }
  
  button:hover {
    background-color: #f3af24; /* Brighter color on hover */
  }
  
  /* Apply styles to forms */
  form {
    margin: 0 auto;
    max-width: 600px;
    padding: var(--white-space);
  }
  
  form label {
    display: block;
    font-size: var(--font-size-text);
    margin-bottom: var(--white-space);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: var(--white-space);
    font-size: var(--font-size-text);
    line-height: var(--line-height);
    border: 1px solid #eaeaea;
    border-radius: var(--border-radius-default);
  }
  
  /* Add media query for screens smaller than 768px */
  @media (max-width: 768px) {
    form {
      display: block;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      width: 100%;
    }
  }
  