:root {
    --white-color: #FFFFFF;
    --primary-color: #f44749;
    --secondary-color: #f3af24;
    --section-bg-color: #F9F9F9;
    --dark-color: #000000;
    --title-color: #565758;
    --news-title-color: #292828;
    --p-color: #717275;
    --border-color: #eaeaea;
    --border-radius-default: .25rem;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header img {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.menu h2 {
    width: 100%;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: calc(33% - 40px);
}

.menu .menu-item-name {
    font-size: 20px;
    font-weight: bold;
}

.menu .menu-item-price {
    color: #e67e22;
    font-size: 18px;
    font-weight: bold;
}

.menu p {
    margin-top: 10px;
}